*{
    margin: 0;
    padding: 0;
}
.page{
    background-color: darkgray;
}
.Header{
    width: 1200px;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    height: 80px;
}
.nameHeader{
    width: 400px;
    background-color: teal;
    height: 80px;
    display: inline-block;
    text-align: center;
}

.nameContent{
    font-family: Besley;
    color: white;
    display: inline-block;
    padding-top: 25px;
    white-space: nowrap;
    
    
}

.Body{
    width: 1200px;
    margin: auto;
    height: 543px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}

.Contact{
    width: 20%;
    font-family: Besley;
    font-size: 20px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
    color: black;
    
}
.Contact:hover{
    color: aquamarine;
}
.Portfolio{
    width: 20%;
    font-family: Besley;
    font-size: 20px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
    color: black;
   
}
.Portfolio:hover{
    color: aquamarine;   
}
.aboutMe{
    width: 20%;
    font-family: Besley;
    font-size: 20px;
    padding-top: 30px;
    display: inline-block;
    text-align: center;
    color: black;

}
.aboutMe:hover{
    color: aquamarine;
}
.paragraphOne{
    float: right;
    width: 50%;
    font-size: 30px;
    font-family: Besley;
    padding-top: 40px;
    line-height: 60px;
    
}
.Images{
    width: 250px;
    height: 250px;
}
.firstImage{
    margin-left: 5%;
}
.Line{
    background-color: black;
    border-bottom-color: black;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 95%;
    
}
.mainHeader{
    margin: 30px;
    padding-top: 30px;
    font-family: Besley;
}
.theForm{
    margin-left: 5%;
    font-family: Besley;
    
}
.firstName{
    margin-bottom: 20px;
    width: 80%;
}
.lastName{
    margin-bottom: 20px;
    width: 80%;
}
.messageLabel{
    padding-top: 20px;
}
.messageBox{
    width: 80%;
}
.submitButton{
    margin-top: 5px;
    width: 100px;
    height: 40px;
    font-family: Besley;
    color: white;
    background-color: teal;
    border: teal;
}
@font-face {
  font-family: Besley;
  src: url(Besley-Book.otf);
}
@viewport{
 width: extend-to-zoom;
 zoom: 1.0;   
}
@-ms-viewport{
 width: extend-to-zoom;
 zoom: 1.0;
}

